.listConfiguration {
  background: none;
  padding-right: 16px;
  padding-left: 16px;
}

.itemListConfiguration {
  color: var(--item-list-config);
  font-size: 20px;
  font-weight: 500;
}

/*CHEVRON DE LOS ELEMENTOS EN LA CONFIGURACIÓN*/
.list-item--chevron:before,
.list-item__expand-chevron {
  border-right: 4px solid var(--chevron-color);
  border-bottom: 4px solid var(--chevron-color);
  display: block;
}
