.cardHomeTitle {
  display: block;
  margin: 16px auto 0px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color-3);
}

.totalMoneyTitle {
  display: block;
  text-align: center;
  padding-bottom: 16px;
  font-size: 50px;
  font-weight: 500;
  color: var(--text-color-4);
}

.homeExpenseLabel {
  display: block;
  padding-top: 16px;
  text-align: left;
  font-size: 28px;
  color: var(--text-color-4);
  font-weight: 500;
}

.homeGoalLabel {
  display: block;
  padding-top: 16px;
  margin-bottom: -10px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: var(--text-color-3);
}

.themeDefault {
  background: rgb(13, 40, 64);
  background: linear-gradient(
    90deg,
    rgba(13, 40, 64, 1) 0%,
    rgba(17, 58, 94, 1) 16%,
    rgba(14, 82, 89, 1) 33%,
    rgba(5, 150, 166, 1) 50%,
    rgba(245, 161, 27, 1) 68%,
    rgba(156, 217, 206, 1) 83%,
    rgba(255, 255, 255, 1) 100%
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeDark {
  background: rgb(235, 244, 246);
  background: linear-gradient(
    90deg,
    rgba(235, 244, 246, 1) 0%,
    rgba(189, 234, 238, 1) 16%,
    rgba(118, 180, 189, 1) 33%,
    rgba(118, 180, 189, 1) 50%,
    rgba(118, 180, 189, 1) 68%,
    rgba(88, 102, 139, 1) 83%,
    rgba(94, 86, 86, 1) 100%
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.themeLight {
  /*#fff6e9 • #ffefd7 • #fffef9 • #e3f0ff • #d2e7ff*/
  background: rgb(255, 246, 233);
  background: linear-gradient(
    90deg,
    rgba(255, 246, 233, 1) 0%,
    rgba(255, 239, 215, 1) 16%,
    rgba(255, 254, 249, 1) 33%,
    rgba(255, 254, 249, 1) 50%,
    rgba(255, 254, 249, 1) 68%,
    rgba(227, 240, 255, 1) 83%,
    rgba(210, 231, 255, 1) 100%
  );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
