* {
  box-sizing: border-box;
}

:root {
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #ffffff;

  --text-color: #0d2840;
  --text-color-1: #0e5259;
  --text-color-2: #0596a6;
  --text-color-3: #9cd9ce;
  --text-color-4: #f5a11b;
  --text-color-5: #ffffff;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;
  
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;
  --label-toolbar-color: #ffffff;
  --toolbar-color: #0d2840;

  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  --card-back-color: #134068;
  --card-text-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  --detail-goal-content-color: #9CD9CE;
  --detail-goal-title-color: #9CD9CE;
  --detail-money-goal: #0596A6;

  --flat-button-color: #f5a11b;
  --flat-button-active-color: #cc7e00;
  --flat-button-color-text: #ffffff;

  --flat-button-light-color-text:#ffffff;
  --flat-button-light-color: #0596A6;
  --flat-button-light-active-color: #05565f;
}

.page__background {
  background: rgb(13, 40, 64);
  background: linear-gradient(
    180deg,
    rgba(13, 40, 64, 1) 0%,
    rgba(17, 58, 94, 1) 100%
  );
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.labelToolbar {
  color: var(--label-toolbar-color);
  font-size: 25px;
}

.menuButtonIcon {
  color: var(--menu-button-color);
  font-size: 26px;
}

.back-button--material__icon {
  fill: var(--back-button-color);
}

/* PROGRESS BAR & CARDS*/
#progressbar {
  background-color: var(--progressbar-back-color);
  border-radius: 15px;
  padding: 1px;
  margin-top: 15px;
}
#progressbar > div {
  background-color: var(--progressbar-main-color);
  width: 50%; /* Adjust with JavaScript */
  height: 17px;
  border-radius: 15px;
}

.card--material {
  border-radius: 15px;

  padding: 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--card-back-color);
 
}

.card--material__title {
  color: var(--card-text-color);

  padding: 16px 16px 0px 16px;
  margin: 0px;

  text-align: left;
}

.card--material__content {
  color: var(--card-content-text-color);

  padding: 0px 16px 16px 16px;

  text-align: left;
  font-size: 14px;
}

.flatButton {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: var(--flat-button-color);
  color: var(--flat-button-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;

  line-height: 40px;
  min-height: 40px;
  width: 208px;
}
.flatButton:active {
  background: var(--flat-button-active-color);
}

.flatButtonLight {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;

  line-height: 40px;
  min-height: 40px;
  width: 208px;
}
.flatButtonLight:active {
  background: var(--flat-button-light-active-color);
}

.range--material__input {
  background-image: linear-gradient(#F5A11B,#f5a11b);
}

.text-input--material__label {
  margin-top: 16px;
  font-size: 18px;
  color: var(--text-color-3);
  top: 0px
}

.text-input--material {
  margin-top: 16px;
  color: var(--text-color-3);
  font-size: 18px;
  text-align: center;

  background-image: linear-gradient(to top,#F5A11B 1px,#F5A11B 1px);
}
/**/
