* {
  box-sizing: border-box;
}

.theme-dark-light {
  /* COLORES */
  --color: #060606;
  --color-1: #2a3a35;
  --color-2: #5d5d5d;
  --color-3: #f6f6f6;
  --color-4: #bdc3c6;
  --color-5: #cf1f0b;
  --color-6: #238843;

  /* DEGRADADO */
  --gradient-1: var(--color);
  --gradient-2: #113a5e;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #f5a11b;
  --icon-savings: #f5a11b;
  --icon-expenses: #f5a11b;
  --icon-money: #f5a11b;
  --icon-config: #f5a11b;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #ffffff;
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;

  /* CHEVRON */
  --chevron-color: #f5a11b;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #9cd9ce;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #f5a11b;

  --detail-goal-title-color: #9cd9ce;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #0596a6;

  --home-total-money: #f5a11b;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #9cd9ce;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #0596a6;
  --saving-title: #9cd9ce;
  --saving-daily: #f5a11b;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #f5a11b;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #f5a11b;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #f5a11b;

  /* SWITCH */
  --switch-button-round: #f5a11b;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #f5a11b;
  --color-input-text: #9cd9ce;

  /* TEXT AREA */
  --text-area-border-color: #f5a11b;
  --text-area-text-color: #9cd9ce;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  /* TOAST */
  --toast-back-color: #f5a11b;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  /* CARDS */
  --card-back-color: #134068;
  --card-text-title-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  /* BUTTONS */
  --flat-button-color: #f5a11b;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #cc7e00;

  --flat-button-light-color: #0596a6;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #05565f;
}

.theme-dark {
  /* COLORES */
  --color: #0a0c0d;
  --color-1: #453f41;
  --color-2: #f8f8f8;
  --color-3: #a2a1a1;
  --color-4: #A7553D;
  --color-5: #597889;

  /* DEGRADADO */
  --gradient-1: var(--color);
  --gradient-2: #211c1d;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #73ffbf;
  --icon-goals: #dc2929;
  --icon-savings: #235dff;
  --icon-expenses: #1aff4c;
  --icon-money: #7aa200;
  --icon-config: #acff0a;

  --menu-icon-color: crimson;
  --menu-font-color: #f8f8f8;

  /* TOOLBAR */
  --toolbar-color: #0a0c0d;
  --label-toolbar-color: #f8f8f8;
  --back-button-color: #f8f8f8;
  --menu-button-color: #f8f8f8;

  /* CHEVRON */
  --chevron-color: #f8f8f8;

  /* TEXTOS */
  --item-list-config: #f8f8f8;
  --text-without-card: #f8f8f8;

  --expense-title: #f8f8f8;;
  --expense-info: #a2a1a1;
  --expense-detail: #a2a1a1;
  --expense-detail-money: #f8f8f8;  

  --detail-goal-title-color: #f8f8f8;
  --detail-goal-content-color: #a2a1a1;
  --detail-money-goal: #a2a1a1;

  --home-total-money: #a2a1a1;
  --home-goal-label: #f8f8f8;
  --para-home-options: #a2a1a1;
  --home-options-labels: #f8f8f8;

  --money-title: #f8f8f8;
  --money-info: #a2a1a1;
  --money-delete-button: crimson;

  --saving-main-title: #a2a1a1;
  --saving-info: crimson;
  --saving-title: #a2a1a1;
  --saving-daily: crimson;
  --saving-days-title: #a2a1a1;
  --saving-days-left: crimson;

  --saving-edit-label-range: #a2a1a1;
  --saving-edit-range-selected: #a2a1a1;
  --saving-edit-selected-range: #a2a1a1;
  --entry-amount-text: #a2a1a1;
  --entry-amount-detail: #a2a1a1;

  /* SWITCH */
  --switch-button-round: #0a0c0d;
  --switch-back-off: #f8f8f8;
  --switch-back-on: #a2a1a1;

  /* INPUT */
  --color-input: crimson;
  --color-input-text: #a2a1a1;

  /* TEXT AREA */
  --text-area-border-color: crimson;
  --text-area-text-color: #a2a1a1;

  /* ALERT DIALOG */
  --alert-tile-color: #f8f8f8;
  --alert-container-color: #0a0c0d;
  --alert-footer-color: #453f41;
  --alert-content-text-color: #f8f8f8;
  --alert-button-color-text: #f8f8f8;

  /* TOAST */
  --toast-back-color: crimson;
  --toast-message-color: #f8f8f8;

  /* PROGRESSBAR */
  --progressbar-back-color: #0a0c0d;
  --progressbar-main-color: #a2a1a1;

  /* CARDS */
  --card-back-color: #453f41;
  --card-text-title-color: #f8f8f8;
  --card-content-text-color: #a2a1a1;

  /* BUTTONS */
  --flat-button-color: #f8f8f8;
  --flat-button-color-text: #0a0c0d;
  --flat-button-active-color: #858585;

  --flat-button-light-color: #0a0c0d;
  --flat-button-light-color-text: #f8f8f8;
  --flat-button-light-active-color: #7c7373;
}

.theme-light {
  /* COLORES */
  --color: #fafafa;
  --color-1: #bcc6d2;
  --color-2: #0e0f14;
  --color-3: #4e4f4e;
  --color-4: #698fac;
  --color-5: #d4b7a5;

  /* DEGRADADO */
  --gradient-1: var(--color);
  --gradient-2: #113a5e;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #f5a11b;
  --icon-savings: #f5a11b;
  --icon-expenses: #f5a11b;
  --icon-money: #f5a11b;
  --icon-config: #f5a11b;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #ffffff;
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;

  /* CHEVRON */
  --chevron-color: #f5a11b;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #9cd9ce;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #f5a11b;

  --detail-goal-title-color: #9cd9ce;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #0596a6;

  --home-total-money: #f5a11b;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #9cd9ce;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #0596a6;
  --saving-title: #9cd9ce;
  --saving-daily: #f5a11b;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #f5a11b;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #f5a11b;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #f5a11b;

  /* SWITCH */
  --switch-button-round: #f5a11b;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #f5a11b;
  --color-input-text: #9cd9ce;

  /* TEXT AREA */
  --text-area-border-color: #f5a11b;
  --text-area-text-color: #9cd9ce;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  /* TOAST */
  --toast-back-color: #f5a11b;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  /* CARDS */
  --card-back-color: #134068;
  --card-text-title-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  /* BUTTONS */
  --flat-button-color: #f5a11b;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #cc7e00;

  --flat-button-light-color: #0596a6;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #05565f;
}

.theme-default {
  /* COLORES */
  --color: #0d2840;
  --color-1: #0e5259;
  --color-2: #0596a6;
  --color-3: #9cd9ce;
  --color-4: #f5a11b;
  --color-5: #ffffff;

  /* DEGRADADO */
  --gradient-1: var(--color);
  --gradient-2: #113a5e;

  /* ICONOS MENÚ & TEXTO MENU*/
  --icon-home: #f5a11b;
  --icon-goals: #f5a11b;
  --icon-savings: #f5a11b;
  --icon-expenses: #f5a11b;
  --icon-money: #f5a11b;
  --icon-config: #f5a11b;

  --menu-icon-color: #f5a11b;
  --menu-font-color: #ffffff;

  /* TOOLBAR */
  --toolbar-color: #0d2840;
  --label-toolbar-color: #ffffff;
  --back-button-color: #ffffff;
  --menu-button-color: #ffffff;

  /* CHEVRON */
  --chevron-color: #f5a11b;

  /* TEXTOS */
  --item-list-config: #9cd9ce;
  --text-without-card: #9cd9ce;

  --expense-title: #ffffff;
  --expense-info: #9cd9ce;
  --expense-detail: #9cd9ce;
  --expense-detail-money: #f5a11b;

  --detail-goal-title-color: #9cd9ce;
  --detail-goal-content-color: #9cd9ce;
  --detail-money-goal: #0596a6;

  --home-total-money: #f5a11b;
  --home-goal-label: #9cd9ce;
  --para-home-options: #9cd9ce;
  --home-options-labels: #9cd9ce;

  --money-title: #ffffff;
  --money-info: #9cd9ce;
  --money-delete-button: crimson;

  --saving-main-title: #9cd9ce;
  --saving-info: #0596a6;
  --saving-title: #9cd9ce;
  --saving-daily: #f5a11b;
  --saving-days-title: #9cd9ce;
  --saving-days-left: #f5a11b;

  --saving-edit-label-range: #9cd9ce;
  --saving-edit-range-selected: #9cd9ce;
  --saving-edit-selected-range: #f5a11b;
  --entry-amount-text: #9cd9ce;
  --entry-amount-detail: #f5a11b;

  /* SWITCH */
  --switch-button-round: #f5a11b;
  --switch-back-off: #ffffff;
  --switch-back-on: #0596a6;

  /* INPUT */
  --color-input: #f5a11b;
  --color-input-text: #9cd9ce;

  /* TEXT AREA */
  --text-area-border-color: #f5a11b;
  --text-area-text-color: #9cd9ce;

  /* ALERT DIALOG */
  --alert-tile-color: #ffffff;
  --alert-container-color: #0d2840;
  --alert-footer-color: #0e5259;
  --alert-content-text-color: #ffffff;
  --alert-button-color-text: #ffffff;

  /* TOAST */
  --toast-back-color: #f5a11b;
  --toast-message-color: #ffffff;

  /* PROGRESSBAR */
  --progressbar-back-color: #0d2840;
  --progressbar-main-color: #f5a11b;

  /* CARDS */
  --card-back-color: #134068;
  --card-text-title-color: #9cd9ce;
  --card-content-text-color: #0596a6;

  /* BUTTONS */
  --flat-button-color: #f5a11b;
  --flat-button-color-text: #ffffff;
  --flat-button-active-color: #cc7e00;

  --flat-button-light-color: #0596a6;
  --flat-button-light-color-text: #ffffff;
  --flat-button-light-active-color: #05565f;
}

.page__background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.labelToolbar {
  color: var(--label-toolbar-color);
  font-size: 25px;
}

.menuButtonIcon {
  color: var(--menu-button-color);
  font-size: 26px;
}

.back-button--material__icon {
  fill: var(--back-button-color);
}

.card--material {
  border-radius: 15px;

  padding: 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--card-back-color);
}

.card--material__title {
  color: var(--card-text-title-color);

  padding: 16px 16px 0px 16px;
  margin: 0px;

  text-align: left;
}

.card--material__content {
  color: var(--card-content-text-color);

  padding: 0px 16px 16px 16px;

  text-align: left;
  font-size: 14px;
}

.flatButton {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: var(--flat-button-color);
  color: var(--flat-button-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;

  line-height: 40px;
  min-height: 40px;
  width: 208px;
}
.flatButton:active {
  background: var(--flat-button-active-color);
}

.flatButtonLight {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: var(--flat-button-light-color);
  color: var(--flat-button-light-color-text);

  border-radius: 15px;
  box-shadow: none;

  font-size: 22px;
  font-weight: 400;

  line-height: 40px;
  min-height: 40px;
  width: 208px;
}
.flatButtonLight:active {
  background: var(--flat-button-light-active-color);
}

.range--material__input {
  background-image: linear-gradient(var(--color-input), var(--color-input));
}

.text-input--material__label {
  margin-top: 16px;
  font-size: 18px;
  color: var(--color-input-text);
  top: 0px;
}

.text-input--material {
  margin-top: 16px;
  color: var(--color-input-text);
  font-size: 18px;
  text-align: center;

  background-image: linear-gradient(
    to top,
    var(--color-input) 1px,
    var(--color-input) 1px
  );
}

.textarea {
  background: none;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid var(--text-area-border-color);
  color: var(--text-area-text-color);
  width: 90%;
}

.alert-dialog--material,
.alert-dialog-container--material {
  background-color: var(--alert-container-color);
  border-radius: 15px;
}

.alert-dialog-title--material {
  color: var(--alert-tile-color);
}

.alert-dialog-footer--material {
  background-color: var(--alert-footer-color);
}

.alert-dialog-content--material {
  background-color: none;
  color: var(--alert-content-text-color);
  margin: 16px 0 16px;
}

.alert-dialog-button--material {
  color: var(--alert-button-color-text);
}

.ons-toast .toast {
  border-radius: 15px 15px 0px 0px;
}

.toast--material {
  background-color: var(--toast-back-color);
  border-radius: 15px 15px 0px 0px;
}

.toast--material__message {
  color: var(--toast-message-color);
  margin: 0px;
  font-size: 18px;
  text-align: center;
}
/**/
